<div id="<%= dom_id job_offer %>">
  <p class="text-dark">
    <strong>Title:</strong>
    <%= job_offer.title %>
  </p>

  <p class="text-dark">
    <strong>Description:</strong>
    <%= job_offer.description %>
  </p>

</div>
