<div class="d-flex flex-column min-vh-100 min-vw-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center text-white">
        <div class="col-md-8 col-lg-6 col-xl-5 ">
            <div class="card overflow-hidden">
                <div class="card-body py-2">
                    <div class="p-3">
                    <%= render "form", job_offer: @job_offer %>
                            </div>
                </div>
            </div>
            <div class="mt-5 text-center text-muted">
                © 2023 New Job Offers <span
                    class=" d-none d-sm-inline-block"> - Powered by Marval</span>
            </div>
        </div>
    </div>
</div>
